body {
    display: flex;
    justify-content: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100px;
    border-bottom: 5px solid black;
}

.firsts {
    background: #a8a8a8;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.half1 {
    width: 125px;
    height: 1230px;
    border-right: 5px solid black;

}

.w475{
    width: 475px;
}

.half2 {
    display: flex;
    width: 475px;
    flex-direction: column;
    height: 1230px;
}

.ds {
    display: flex;
    flex-direction: row;
}

.ds2 {
    display: flex;
    flex-direction: column;
}

.wd {
    width: 100px;
}

.hg {
    height: 50px;
}

.mrg {
    margin: 10px;
    background: #a8a8a8;
}

.brd {
    border-radius: 10px;
    box-sizing: border-box;
    border: 5px solid black;
}

.first {
    width: 475px;
    height: 450px;
    border-bottom: 5px solid black;
}

.first1 {
    width: 455px;
    height: 430px;
}

.second {
    height: 115px;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.thind {
    display: flex;
    border-bottom: 5px solid black;
}

.part1 {
    width: 500px;
}

.mrg2 {
    margin: 10px 10px 10px 0;
    background: #a8a8a8;
}

.ph {
    width: 160px;
    height: 75px;
}

.part2 {
    width: 158px;
}

.footer {
    height: 95px;
}

.first_foot {
    width: 455px;
    height: 50px;
}