body{
    justify-content: center;
    display: flex;
}
.father {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.header1{
    display: flex;
    justify-content: end;
    background: #34d9d1;
    width: 950px;
    height: 75px;
    column-gap: 10px;
    align-items: center;

}
.inf{
    width: 50px;
    height: 10px;
    background: black;
    border-radius: 10px;
}
.s{
    margin-right: 25px;
}
.header2{
    background: #185e87;
    width: 950px;
    height: 100px;
    justify-content: space-between;
    display: flex;
align-items: center;
}
.boxs{
    background: white;
    width: 125px;
    height: 70px;
    border-radius: 10px;
    margin-left: 25px;
    border: 5px solid black;
    box-sizing: border-box;
}
.items{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    column-gap: 10px;
}
.item{
    color: white;
    font-size: 22px;
}
.header3{
    width: 950px;
    height:450px;
    background: #34d9d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h1{
    width: 305px;
}
.box2{
    background:#185e87;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 25px;
    border: 5px solid black;
    box-sizing: border-box;
}
.bodi{
    width: 950px;
    height: 1120px;
    background: white;
display: flex;
    flex-direction: column;
align-items: center;
}
.wrap{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.boxss{
    width: 250px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrap_two{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.first_half{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin: 10px 0 10px 0;
}
.boxy{
    width:220px;
    height: 165px;
   background: #185e87;
    margin: 10px;
    border-radius: 10px;
}
.h2{
    margin-left: 20px;
    color: #0a4e79;
}
.foots{
    display: flex;
    flex-direction: row;
    margin-top: 10px ;
}
.foot1{
    width: 400px;
    height: 300px;
    background: #185e87;
    border-radius: 10px;
}
.foot2{
    width: 400px;
    height: 300px;
    background: #34d9d1;
    border-radius: 10px;
}
.foot1 p{
    color: #34d9d1;
    font-size: 18px;
}
.foot2 p{
    color: #0a4e79;
    font-size: 18px;
}
.boxs2{
    background: #34d9d1;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 25px;
    border: 5px solid black;
    box-sizing: border-box;
}