body{
    height: 100vh;
    /*width: 100vw;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.father {
    width: 1000px;
    border: 5px solid #a1a1a1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /*background: #20b2aa;*/
    padding: 10px;
}

.header {
    background: blue;
    width: 1000px;
    height: 150px;

}

.nav {
    background: #020293;
    width: 1000px;
    height: 125px;
}

.wrap {
    display: flex;

}

.Main {
    width: 700px;
    height: 275px;
    background: lightseagreen;
}

.aside {
    width: 300px;
    height: 275px;
    background: cornflowerblue;

    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    background: #42c9bf;
    width: 1000px;
    height: 150px;
}

img {
    border-radius: 50%;
}